{% extends 'index.html' %}
{% block content %}
<div class="container"  style="background: #91DEE0">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="row">
					<h3 style="color: #F64857; font-weight: bold;">About Health Corner</h3>
				</div>
				<div class="row">
					<p style="font-family: Cantata One;color: #232324; font-size: 18px;">Health Corner is an online health care information sharing website. Our mission is to present high quality, relevant health and wellness information that is trusted and easy to understand anytime anywhere on any device – for free. Our aim is to provide the people with accurate and relevant medical information to help their own health and the health of the people they care. We hope to improve the public health on online through our website. </p>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div><br>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="text-center-image">
					<img src="../static/images/p-d.jpg" alt="Snow" style="width:100%; height: 300px;">
					<div class="centered" style=" color: #F64857; font-weight: bold;"><h1>Patient-Doctor Communication</h1></div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div><br><br>

		<div class="row">
			<div class="col-md-6">
				<img src="../static/images/doctor.jpg" style="width: 100%; height: 300px;">
			</div>
			<div class="col-md-6">
				<h3 style="color: #F64857; font-weight: bold;">Talking With Your Doctor</h3>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;">Communicating well with your doctor is an important part of getting good medical care. These articles and worksheets can help you prepare for a medical appointment, discuss sensitive topics, manage your medications, choose a new doctor, and coordinate help from family caregivers.</p>
			</div>
		</div><hr>
		<div class="row">
			<div class="col-md-6">
				<h3 style="color: #F64857; font-weight: bold;">Talking With Your Older Patient</h3>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;">Communicating well with older patients can be a challenge for many healthcare professionals, often complicated by issues such as hearing loss and memory problems. Learn how to talk effectively with older patients, including how to discuss cognitive impairment, break bad news, and work with families and caregivers. </p>
			</div>
			<div class="col-md-6">
				<img src="../static/images/patient.jpg" style="width: 100%; height: 300px;">
			</div>
		</div><hr>
		
		<div class="row">
			<div class="col-md-4">
				<h3 style="color: #F64857; font-weight: bold;">Our Privacy & Policy</h3>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;">We understand that health is a very personal, private subject, and we want you to feel as comfortable as possible visiting our website and using its services.</p>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;"> Read Our Privacy Policy >><a href="/policy"> Read More</a> </p>
			</div>
			<div class="col-md-4">
				<h3 style="color: #F64857; font-weight: bold;">Our Terms & Conditions</h3>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;">It is important to understand our Terms and Conditions before using any portion of our site.</p><br>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;"> Read Our Terms & Conditions >><a href="/termsandconds">Read More</a> </p>
			</div>
			<div class="col-md-4">
				<h3 style="color: #F64857; font-weight: bold;">How to Contact Us</h3>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;">Customer care is important to us. Please send us an email if you want to ask us. </p><br>
				<p style="font-family: Cantata One;color: #232324; font-size: 18px;"> Contact Us >><a href="/contact">Read More</a> </p>
			</div>
		</div>

	</div>
{% endblock %}