{% extends 'adminmedicallist.html' %}
{% block content %}
<div class="container-fluid"><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6"><h3>Insert Disease Information</h3></div>
            <div class="col-md-2">
              <a href="/admininsertdiseaseinfo"><button class="adminview">Insert Disease Info</button></a> 
            </div>
            <div class="col-md-2">
              <a href="/admindiseaselist"><button class="adminview">View Disease Info</button></a> 
            </div>
       </div>
		<div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <!-- Start of insert medi info form -->
            <form action="/admininsertdiseaseinfo" method="post">
                <label for="disease_name">Disease name: </label>
                <input class="insert" type="text" id="disease_name" name="disease_name" placeholder="Enter name here..." required>

                <label for="disease_des">Description: </label>
                <textarea class="insert" id="disease_des" name="disease_des" placeholder="Enter description here..." style="height:200px" required></textarea>

                <label for="disease_sym">Symptoms: </label>
                <textarea class="insert" id="disease_sym" name="disease_sym" placeholder="Enter symptoms here..." style="height:200px" required></textarea>

                <label for="disease_treat">Treatment: </label>
                <textarea class="insert" id="disease_treat" name="disease_treat" placeholder="Enter treatment here..." style="height:200px" required></textarea>

                <input type="submit" class="insert" value="DONE" style="background-color: #D7E02A; color: #232324">
                <input type="reset" class="insert" value="CANCEL" style="background-color: #D7E02A; color: #232324">
            </form>
            <!-- End of insert medi info form -->
            </div>
            <div class="col-md-2"></div>
        </div>
	</div><br>
{% endblock %}