{% extends 'index.html' %}
{% block content %}
<div class="container">
		<font size="6px" color="#F64857">Privacy and Policy </font><br> 
				
			<p>
				Health Corner understands how important the privacy of personal information is to our users. This Privacy Policy will tell you what information we collect about you and about your use of Health Corner and its services. It will explain the choices you have about how your personal information is used and how we protect that information. We urge you to read this Privacy Policy carefully. <br>
				This Privacy Policy applies to websites owned and operated by Health Corner that are intended for use by consumers (non-professionals) for non-commercial personal, family or household purposes, including healthcornerwebsite.com and including the mobile optimized versions of these sites and our Mobile Device Applications or "Apps" (we refer to these sites and Apps collectively as the “Health Corner Sites”). We refer to the Health Corner Sites and Apps, along with the information and services made available to you through the Health Corner Sites and Apps, as the “Services.” <br>
				This Privacy Policy also applies to the consumer-facing version of the Health Corner Health Manager Product. However, if you are an employee or health plan member who has enabled access to your health record at healthcornerwebsite.com by registering at your employer's or health plan's website, the privacy policy applicable to your information at your employer's or health plan's website remains applicable to your personal health record at healthcornerwebsite.com. If your employer or health plan account is no longer made available to you by your employer or health plan, you will continue to have access to your health information from healthcornerwebsite.com, using the same username and password, but will be subject to this Privacy Policy.<br>
				Except where noted, statements in this Privacy Policy with respect to the Health Corner Sites also apply to the Apps. If you do not want us to collect, use or disclose information about you and your use of the Services as described in this Privacy Policy, then you should not use the Services. By using the Services, you must agree to the Health Corner Terms of Use, which is the contract between us and users of the Services.  By accepting the Health Corner Terms of Use, you confirm that you have read and understand this Privacy Policy and you acknowledge that we will store, use and otherwise process your information in the United States where we are located. <br>
				References to " Health Corner," “we” or “us” mean Health Corner, including any company that Health Corner controls (for example, a subsidiary that Health Corner owns). Health Corner may share information among its subsidiaries or websites that it owns or controls, but information collected under this Privacy Policy is always protected under the terms of this Privacy Policy. Except as otherwise noted in this Privacy Policy, Health Corner is the data controller responsible for the processing of your personal information as described in this Privacy Policy. Health Corner has appointed Aptus Health International France SAS, 5 place de la Pyramide, Tour Ariane, 92800 Puteaux, FRANCE, ("Aptus Health France") as its representative in the European Union. 	
			</p>

		<font size="6px" color="#F64857">Information Collected About You</font><br> 
				
			<p>
				Some of our Services (such as certain quizzes or calculators) do not retain your personal information, while others (such as Health Corner Lab Testing and the Ovulation/Pregnancy Calendar and the Healthy Target Program in the Health Corner App and certain of our registration-only Apps like Health Corner Baby, Health Corner Pregnancy and Health Corner Allergy) store your personal information in accordance with this Privacy Policy. Even if you do not register with or provide any personal information to Health Corner, we collect information about your use of the Health Corner Sites and Apps and the Services. We may also acquire information about our users from external sources. <br>

				When you use the Services, we collect information as follows:<br>
				<b>Registration </b> <br>
				While you may use most of the Services without registering, certain Services do require that you register with Health Corner for them to function properly. If you choose to register or update an existing account with Health Corner or access certain Services, you may be required to provide certain personal information, such as your name, address, telephone number, gender, email address and date of birth, and a username and password to access your Health Corner account. You are responsible for ensuring the accuracy of the personal information that you submit to Health Corner. <br>
				<b>Interactive Services </b><br>
				Some of our Services, such as Health Corner Symptom Checker, are interactive and may request that you submit health-related information, along with other information such as your age and gender. You are not required to register with Health Corner to use Health Corner Symptom Checker and if you are registered with Health Corner, we do not associate information that you submit to the Symptom Checker with registration information that you have previously provided. <br>

				<b>User Reviews and Other Public Forums </b><br>
				In connection with the use of our Physician Directory, users can submit provider reviews. Our reviews feature in the Physician Directory and are open to the public and should not be considered private. <br>
				Any information (including personal information) you share in any review, or other forum is by design open to the public and is not private. You should think carefully before posting any personal information in any public forum. What you post can be seen, disclosed to or collected by third parties and may be used by others in ways we cannot control or predict, including to contact you for unauthorized purposes. As with any public forum on any site, the information you post may also show up in third-party search engines. <br>


				<b>Emails You Send to Health Corner</b><br>
				This Privacy Policy does not apply to information, content, business information, ideas, concepts or inventions that you send to Health Corner by email. If you want to keep content or business information, ideas, concepts, or inventions private or proprietary, do not send them in an email to Health Corner. <br>
				<b>Services and Device Information </b><br>
				When you access and use the Services, Health Corner automatically collects and stores in its server logs information from your browser or mobile device such as your IP address or unique device identifier, browser information (including referring URL), your preferences and settings, cookies and information about the content you have viewed and actions taken (e.g., search queries, ad engagement, clicks and the associated dates and times). Health Corner may also collect device-specific information when you install and use an App including your device model, operating system information, advertising ID (which is a unique, user-resettable identification number for advertising associated with a mobile device) and App version and usage information. When enabled by you, we collect precise location information provided by your mobile device, which you may disable through the device settings. <br> 

				<b>Precise Geolocation Data </b><br>
				When enabled by you, we collect precise location information provided by your mobile device. We do so to provide you more relevant content including advertising based on your location. You may disable the collection and use of your location data through your device settings. To change location settings on your device, please refer to your device’s official knowledge base. <br>
			</p>
			
		<font size="6px" color="#F64857">Cross-Device Tracking</font><br> 
				
			<p>
				We and our service providers collect and store information about users' interactions with unaffiliated websites and applications that use our technologies, including cookies and similar tracking technologies. This allows us to infer the presence of a common user or household behind multiple devices. We do so in order to: <br>
				<ul>
					<li>provide personalized advertising on each device that is inferred from the browsing patterns on all of the devices;</li>
					<li>detect and prevent fraud;</li>
					<li>allow users to use our service on one device and pick up seamlessly where they left off on another device; </li>
					<li>limit the number of times a user is shown the same advertisement, across known or inferred devices</li>
				</ul>
				
				For information on your advertising choices and opt-out, please see the "Your Choices and Rights" section of this Privacy Notice. 	
			</p>

		<font size="6px" color="#F64857">How Information Collected About You Is Used </font><br> 
				
			<p>Information about your use of the Services may be used for the following purposes: <br>
				<ul>
					<li>to provide, improve and create new Services, </li>
					<li>to respond to your inquiries and to send you administrative communications about the Health Corner Sites and Services, </li>
					<li>to obtain your feedback about the Health Corner Sites and Services, </li>
					<li>to send you secure electronic messages and personalized emails pertaining to your interests as inferred from your use of the Services, including news, announcements, reminders and opportunities from Health Corner,</li>
					<li>to statistically analyze trends and user behavior and activity including how frequently areas of the Health Corner Sites are visited, how the Services are being used and how many emails are received and opened, </li>
					<li>to provide you and people with similar demographic characteristics and interests with more relevant content including advertising both on and off the Health Corner Sites and Apps, </li>
					<li>to offer lead generation services, </li>
					<li>to detect and defend against fraud and other threats to the Services and our users,  </li>
					<li>to identify issues with the Services, </li>
					<li>to conduct research and measurement activities, including those described below, and </li>
					<li>to administer your account. </li>

				</ul>
				In addition, Health Corner may use personal information about you for other purposes that are disclosed to you at the time we collect the information and/or with your consent. 

Health Corner may combine your personal information and other information collected about your use of the Services, and also supplement with information from external sources for the purposes described in this Privacy Policy. For example, information that Health Corner collects about you may be combined by Health Corner with other information available to Health Corner through third parties for research and measurement purposes, including measuring the effectiveness of content, advertising or programs. This information from other sources may include age, gender, demographic, geographic, personal interests, product purchase activity or other information. We may report aggregate information, which is not able to be identified back to an individual user of the Health Corner Sites, to our current or prospective advertisers and other business partners. 
					
			</p>
	</div><br>
{% endblock %}